@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header {
    text-align: center;
    margin: 80px 30px 75px;
}

h1, h2 {
    font-size: 25px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p {
    color:hsl(229, 6%, 66%);
}
  
  header > h1 {
    margin: 20px 0;
    font-weight: 200;
  }
  
  header > h1 strong {
    font-weight: 600;
  }
  
  header > p {
    max-width: 520px;
    margin: auto;
  }

.secondaire {
    list-style: none;
    padding: 0;
    margin: 0;

    margin: auto;
}

@media (min-width: 788px) {
    .secondaire{
        width: 728px;
    }
    .secondaire::after{
        content: "";
        clear: both;
        display: table;
    }
}

@media (min-width: 1166px) {
    .secondaire {
        width: 1106px;
    }
}


[class$='feature-cards'] {
    position: relative;
    box-sizing: border-box;
    width: 350px; height: 250px;

    /* Alignment */
    margin: 0;
    padding: 32px;

    /* Box Details */
    border-radius: 10px;
    border-top: solid 5px black;
    box-shadow: 2px 5px 20px rgb(0,0,0,0.1);
}

[class$='feature-cards'] h2, [class$='feature-cards'] p {
     margin: 0; 
    }

[class$='feature-cards'] img {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

[class$='feature-cards'][class*="item1"] {
    border-color: hsl(180, 62%, 55%);
}

[class$='feature-cards'][class*="item2"] {
    border-color: hsl(0, 78%, 62%);
}

[class$='feature-cards'][class*="item3"] {
    border-color: hsl(34, 97%, 64%);
}

[class$='feature-cards'][class*="item4"] {
    border-color: hsl(212, 86%, 64%);
}


/* position des boxes */

@media (min-width: 788px) {
    .secondaire::after{
        content: "";
        clear: both;
        display: table;
    }
    [class$="feature-cards"] {
        float: left;
    }
}

@media (min-width: 1166px) {
    
    [class$='feature-cards']:first-child {
        margin: 140px 0;
      }
     
      [class$='feature-cards']:nth-child(2),
      [class$='feature-cards']:nth-child(3) {
        margin: 0 22px;
      }
  
      [class$='feature-cards']:last-child {
        margin-top: -110px;
      }
  
      [class$='feature-cards']:nth-child(3) {
        margin-top: 30px;
      }
}

@media (max-width: 1165px) and (min-width: 788px) {

    [class$='feature-cards']:nth-child(3),
    [class$='feature-cards']:nth-child(4) {
      margin-top: 30px;
    }

    [class$='feature-cards']:nth-child(2),
    [class$='feature-cards']:nth-child(4) {
      margin-left: 28px;
    }
  }

@media (max-width: 787px) {

  [class$='feature-cards']:not(:first-child) {
    margin-top: 22px;
  }

  [class$='feature-cards'] {
    width: 300px; height: 220px;
    margin: auto;
  }
}

/* attribution */

.attribution {
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}